server_string = "AppName"
password_hash_cost = 10

[server]
ip = "127.0.0.1"
port = 3000
secure = false
certificate_file = ""
certificate_password = ""

[database]
url = "localhost"
user = "user"
password = "password"

[redis]
url = "redis://localhost"

[email_notifier]
mailer = "localhost"
username = ""
password = ""
